@charset "utf-8";

@import url(layout.css);
@import url(main.css);
@import url(sub.css);
@import url(font.css);


/*==========================================================================
Base
==========================================================================*/

/* word-break: break-all; word-wrap: break-word; */
html, body,div,dl,dt,dd,ul,ol,li, pre,code,form,fieldset,legend,textarea,p,iframe,span,strong,em{margin:0; padding:0; font-size:inherit; word-break:keep-all; -webkit-text-size-adjust:none; }
body{overflow-x:hidden;  font-family:'HeirofLight', 'Roboto', 'Noto Sans KR', '돋움', '돋음', 'Dotum', 'Baekmuk Dotum', 'Undotum', 'Apple Gothic', 'Latin font', sans-serif; font-size:14px; font-weight:400; color:#222;  padding:0px; margin:0px; letter-spacing:-0.03em;-webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;}

@media all and (max-width:650px) {
	body{font-size:13px; margin:0 auto;}
}

b{font-weight:600;}
html, body {width:100%; height:100%; max-width:2000px; min-width:320px; max-width:650px;  margin-left:auto; margin-right:auto; font-family:'HeirofLight'; background:#fff;}
header, hgroup, footer, section, article, aside, nav, canvas, figure, figcaption { display:block; }
table { font-size:inherit; border-collapse:collapse; border-spacing:0; table-layout:fixed; }
th, td { word-wrap:break-word; word-break:break-all; }
fieldset, iframe { border:0; vertical-align:top; }
small {font-size:0.9em}
img { border:0; font-size:0; vertical-align:top; }
address,cite,code,dfn,em,var { font-style:normal; font-weight:normal; }
li, dd { list-style:none; word-break:keep-all; word-break:break-word; }
hr { display:none; }
caption { overflow:hidden;width:100%;height:1px;font-size:1px;line-height:0;text-indent:-9999px; margin-top:-1px; }
legend {  overflow:hidden; left:-9999px; text-indent:9999px; width:0; height:0; overflow:hidden; line-height:0; white-space:nowrap; color:#222; }
button { padding:0; border:0; cursor:pointer; background:none; vertical-align:middle; font-size:inherit; appearance: none; border:0; *overflow:visible; outline:none;}
h1, h2, h3, h4, h5, h6 { padding:0px;margin:0px; }
a, a code { color:#222; text-decoration:none;  /*마우스오버시 자연스럽게*/transition-duration: 300ms;   transition-property: color, border-color, background-color;   transition-timing-function: ease; }
a:active, a:active code { color:#222; text-decoration:none;  /*마우스오버시 자연스럽게*/transition-duration: 300ms;   transition-property: color, border-color, background-color;   transition-timing-function: ease; }
a:hover, a:hover code, a:focus, a:focus code { text-decoration:none; /*마우스오버시 자연스럽게*/transition-duration: 300ms;   transition-property: color, border-color, background-color;   transition-timing-function: ease;  }
sup,sub { font-size:0.9em; font-style:italic; }
checkbox { vertical-align:middle}
a {outline:none; cursor:pointer; color:inherit; font-size:inherit; font-weight:inherit;}
.hand {cursor:pointer}
.cursor {cursor:default !important}
a{text-decoration:none; transition:all .3s ease;}
a:hover{text-decoration:none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition :all .3s ease;
}


.serif{font-family: 'Noto Serif KR', 'Noto Sans KR';}

/* 정렬 */
.center { text-align:center !important; }
.left { text-align:left !important; }
.right { text-align:right !important; }
.fr { float:right  !important; }
.fl { float:left  !important; }
.mid { vertical-align:middle; }
.clear {clear:both;}

/**/
.mo{display:none;}
.ov{overflow:hidden;}
/* 기본 */
:focus {outline: none;}

/* 드래그 블록 색상 */
::selection {background:rgba(0,0,0,0.5); color:#fff;}
::-moz-selection {background:rgba(0,0,0,0.5); color:#fff;}
::-webkit-selection {background:rgba(0,0,0,0.5); color:#fff;}

* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:before,*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
:after, :before {box-sizing:border-box;}

/**/
.c1{color:#838383 !important;}
.c2{color:#00a8db !important;}
.c3{color:#272727 !important;}
.c_pink{color:#ef24de !important;}

/**/
.mt3em {margin-top:3em;}
.mt4em {margin-top:4em;}
.mt5em {margin-top:5em;}
.mb5em {margin-bottom:5em}


/* font */
.bold {font-weight:bold;}
.fw1 { font-weight: 100 !important; }
.fw2 { font-weight: 200 !important; }
.fw3{ font-weight: 300 !important; }
.fw4 { font-weight: 400 !important; }
.fw5 { font-weight: 500 !important; }
.fw6 { font-weight: 600 !important; }
.fw7 { font-weight: 700 !important; }
.fw8 { font-weight: 800 !important; }
.fw9{ font-weight: 900 !important; }

.fs12{font-size:0.85em !important;}
.fs13{font-size:0.88em !important;}
.fs16{font-size:0.941em !important;}
.fs18{font-size:1.059em !important;}
.fs19{font-size:1.118em !important;}
.fs20{font-size:1.176em !important;}
.fs22{font-size:1.294em !important;}
.fs24{font-size:1.412em !important;}
.fs26{font-size:1.529em !important;}
.fs28{font-size:1.647em !important;}
.fs30{font-size:1.765em !important;}
.fs32{font-size:1.882em !important;}
.fs34{font-size:2em !important;}
.fs36{font-size:2.118em !important;}
.fs38{font-size:2.235em !important;}
.fs40{font-size:2.353em !important;}
.fs46{font-size:2.706em !important;}


/**/
.op5{opacity:0.5}


/* input  */


/* margin */
.mt0 { margin-top:0 !important; }
.mt0-5em{margin-top:0.5em;}
.mt1em{margin-top:1em;}
.mt1-5em{margin-top:1.5em;}
.mt2em{margin-top:2em;}
.mt2-5em{margin-top:2.5em;}
.mt3em{margin-top:3em;}
.mt3-5em{margin-top:3.5em;}
.mt4em{margin-top:4em;}
.mt4-5em{margin-top:4.5em;}
.mt5em{margin-top:5em;}
.mt5-5em{margin-top:5.5em;}
.mt6em{margin-top:6em;}
.mt6-5em{margin-top:5.5em;}
.mt7em{margin-top:7em;}
.mt7-5em{margin-top:7.5em;}
.mt8em{margin-top:8em;}
.mt8-5em{margin-top:8.5em;}
.mt9em{margin-top:9em;}
.mt9-5em{margin-top:9.5em;}
.mt10em{margin-top:10em;}
.mt10-5em{margin-top:10.5em;}

.mb0 { margin-bottom:0 !important; }
.mb0-5em{margin-bottom:0.5em;}
.mb1em{margin-bottom:1em;}
.mb1-5em{margin-bottom:1.5em;}
.mb2em{margin-bottom:2em;}
.mb2-5em{margin-bottom:2.5em;}
.mb3em{margin-bottom:3em;}
.mb3-5em{margin-bottom:3.5em;}
.mb4em{margin-bottom:4em;}
.mb4-5em{margin-bottom:4.5em;}
.mb5em{margin-bottom:5em;}
.mb5-5em{margin-bottom:5.5em;}
.mb6em{margin-bottom:6em;}
.mb6-5em{margin-bottom:5.5em;}
.mb7em{margin-bottom:7em;}
.mb7-5em{margin-bottom:7.5em;}
.mb8em{margin-bottom:8em;}
.mb8-5em{margin-bottom:8.5em;}
.mb9em{margin-bottom:9em;}
.mb9-5em{margin-bottom:9.5em;}
.mb10em{margin-bottom:10em;}
.mb10-5em{margin-bottom:10.5em;}


.ml0 { margin-left:0 !important; }
.ml0-5em{margin-left:1.5em;}
.ml1em{margin-left:1em;}
.ml1-5em{margin-left:1.5em;}
.ml2em{margin-left:2em;}
.ml2-5em{margin-left:2.5em;}
.ml3em{margin-left:3em;}
.ml3-5em{margin-left:3.5em;}
.ml4em{margin-left:4em;}
.ml4-5em{margin-left:4.5em;}
.ml5em{margin-left:5em;}
.ml5-5em{margin-left:5.5em;}
.ml6em{margin-left:6em;}
.ml6-5em{margin-left:5.5em;}
.ml7em{margin-left:7em;}
.ml7-5em{margin-left:7.5em;}
.ml8em{margin-left:8em;}
.ml8-5em{margin-left:8.5em;}
.ml9em{margin-left:9em;}
.ml9-5em{margin-left:9.5em;}
.ml10em{margin-left:10em;}
.ml10-5em{margin-left:10.5em;}

.mr0 { margin-right:0 !important; }
.mr0-5em{margin-right:1.5em;}
.mr1em{margin-right:1em;}
.mr1-5em{margin-right:1.5em;}
.mr2em{margin-right:2em;}
.mr2-5em{margin-right:2.5em;}
.mr3em{margin-right:3em;}
.mr3-5em{margin-right:3.5em;}
.mr4em{margin-right:4em;}
.mr4-5em{margin-right:4.5em;}
.mr5em{margin-right:5em;}
.mr5-5em{margin-right:5.5em;}
.mr6em{margin-right:6em;}
.mr6-5em{margin-right:5.5em;}
.mr7em{margin-right:7em;}
.mr7-5em{margin-right:7.5em;}
.mr8em{margin-right:8em;}
.mr8-5em{margin-right:8.5em;}
.mr9em{margin-right:9em;}
.mr9-5em{margin-right:9.5em;}
.mr10em{margin-right:10em;}
.mr10-5em{margin-right:10.5em;}

/* padding */
.padding1{padding:1em;}
.pb0 { padding-bottom:0 !important; }
.pb0-5em{padding-bottom:1.5em;}
.pb1em{padding-bottom:1em;}
.pb1-5em{padding-bottom:1.5em;}
.pb2em{padding-bottom:2em;}
.pb2-5em{padding-bottom:2.5em;}
.pb3em{padding-bottom:3em;}
.pb3-5em{padding-bottom:3.5em;}
.pb4em{padding-bottom:4em;}
.pb4-5em{padding-bottom:4.5em;}
.pb5em{padding-bottom:5em;}
.pb5-5em{padding-bottom:5.5em;}
.pb6em{padding-bottom:6em;}
.pb6-5em{padding-bottom:5.5em;}
.pb7em{padding-bottom:7em;}
.pb7-5em{padding-bottom:7.5em;}
.pb8em{padding-bottom:8em;}
.pb8-5em{padding-bottom:8.5em;}
.pb9em{padding-bottom:9em;}
.pb9-5em{padding-bottom:9.5em;}
.pb10em{padding-bottom:10em;}
.pb10-5em{padding-bottom:10.5em;}


.pt0 { padding-top:0 !important; }
.pt0-5em{padding-top:1.5em;}
.pt1em{padding-top:1em;}
.pt1-5em{padding-top:1.5em;}
.pt2em{padding-top:2em;}
.pt2-5em{padding-top:2.5em;}
.pt3em{padding-top:3em;}
.pt3-5em{padding-top:3.5em;}
.pt4em{padding-top:4em;}
.pt4-5em{padding-top:4.5em;}
.pt5em{padding-top:5em;}
.pt5-5em{padding-top:5.5em;}
.pt6em{padding-top:6em;}
.pt6-5em{padding-top:5.5em;}
.pt7em{padding-top:7em;}
.pt7-5em{padding-top:7.5em;}
.pt8em{padding-top:8em;}
.pt8-5em{padding-top:8.5em;}
.pt9em{padding-top:9em;}
.pt9-5em{padding-top:9.5em;}
.pt10em{padding-top:10em;}
.pt10-5em{padding-top:10.5em;}

.pl0{padding-left:0 !important}
.pr0{padding-right:0 !important}



.input_readonly {width:100%;background:#ddd;border:none;border-radius:4px;padding:5px}

.m-0 {margin:0 !important}
.m-t-20 {margin-top:20px !important}
.m-t-50 {margin-top:50px !important}
.p-5 {padding:5px !important}
.p-20 {padding:20px !important}
.p-30 {padding:30px !important}
.p-l-0 {padding-left:0px !important}
.p-r-0 {padding-right:0px !important}
.p-l-10 {padding-left:10px !important}
.p-r-10 {padding-right:10px !important}
.width-20p {width:20% !important}
.width-80p {width:80% !important}
.width-70p {width:70% !important}
.display-inblock {display:inline-block}
.align_left {text-align:left}
.align_center {text-align:center;}
.align_right {text-align:right;}

.borderbox_bg {padding: 2px;background:linear-gradient( to bottom, #ff8d00, #ffeb00, #ff8d00);border-radius:10px;}
.borderbox_wrap {margin:5px}
.borderbox_content {padding:20px}
.borderbox_content_baige {background: #fff9e3}
.borderbox_content_white {background: #fff}
.shadowbox { width:100%;border-radius:10px;box-shadow: 5px 5px 5px 5px #ddd}
a.btn_nob{display:inline;margin:0 auto;font-weight:bold;color: #fff;width:90%;padding:5px 10px;border-radius: 50px;overflow:hidden;background-color:#ddd;background-repeat:no-repeat;background-size:100% 100%;background-position: 0 0;/* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */}
.btn_nob{display:inline;margin:0 auto;font-weight:bold;color: #fff;padding:5px 10px;border-radius: 50px;overflow:hidden;background-color:#ddd;background-repeat:no-repeat;background-size:100% 100%;background-position: 0 0;/* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */}

a.bg_blue{background: #5555df;}
a.bg_green{background: #0a9900;}
.bg_blue{background: #5555df;}
.bg_green{background: #0a9900;}

.notice_box{text-align:center;padding:10px;margin: 30px 0;box-shadow: 2px 2px 2px 2px #a19f9f;}