@charset "utf-8";



/* Main */
#Contents.main_con{}

.sec_wrap{}

.sec2_wrap{margin:1em auto 2em; overflow:hidden;  text-align:center; font-size:1.2em; color:#2e2e2e; font-weight:bold; padding:5px 10px; border:2px solid #edeadb; box-shadow: 2px 2px 3px 0 #523e01;}
.sec2_wrap li{display:inline-block; text-align:left; padding:2px 5px;}
.sec2_wrap li img{height:20px; vertical-align:middle; display:inline-block; }
@media all and (max-width:420px) {
    .sec2_wrap li.first{display:block; text-align:Center;}
}

.sec3_wrap{margin:0 auto 0; overflow:hidden;}
.sec3_wrap li{float:left; width:33.3%; padding:0 5px; }
.sec3_wrap li .img{height:8.5em; background:#FFF url(../images/sec3_bg.png) no-repeat 0 0; background-size:100% 100%; }
.sec3_wrap li .img .in{display:table;width:100%;height:100%;background-size:auto 70%;background-position:center center;background-repeat:no-repeat;background-color: #000;border-radius: 20px;box-shadow: 2px 2px 2px 2px #999;}
.sec3_wrap li .img .in .t{display:table-cell; vertical-align: middle;  text-align:center; font-weight:bold; text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; padding-top:1.5em;}
.sec3_wrap li .txt {font-size:1.15em; font-weight:bold; text-align:center; padding:5px 0 0;}

.sec3_wrap2 li .img .in{height:73%; background-size:auto 70%;}
.sec3_wrap2 li .txt{padding:0;}
.sec3_wrap2 li:nth-of-type(1) .txt{color:#842820}
.sec3_wrap2 li:nth-of-type(2) .txt{color:#2c5934}
.sec3_wrap2 li:nth-of-type(3) .txt{color:#cc3131}


@media all and (max-width:650px) {
    .sec3_wrap li .img{height:10.5em; }
}
@media all and (max-width:420px) {
    .sec3_wrap li .img{height:9.5em; }
}

.sec4_wrap{padding:0 0 2.5em; overflow:hidden; }
.sec4_wrap li{display:block; float:left; width:33.3%; text-align:Center;}
.sec4_wrap li img{width:80%; max-width:275px;}

.sec5_wrap{ overflow:hidden; }
.sec5_wrap li{display:inline-block; float:left; width:33.3%; text-align:Center;}
.sec5_wrap li.state1 a{background: #eb3939;}
.sec5_wrap li.state2 a{background: #5555df;}
.sec5_wrap li.state3 a{background: #0a9900;}
.sec5_wrap li a{display:block;margin:0 auto;font-weight:bold;color: #fff;width:90%;padding:10px 0px;border-radius: 50px;overflow:hidden;background-color:#ddd;background-repeat:no-repeat;background-size:100% 100%;background-position: 0 0;/* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */}


.mem_list{padding-bottom:3em;}
.mem_list li{overflow:hidden; margin-bottom:1em;}
.mem_list li.mem_bx{border-radius:2em; border:2px solid #edeadb; box-shadow: 2px 2px 3px 0 #523e01;/*background:#FFF url(../images/mem_bg.png) no-repeat 0 0; background-size:100% 100%;*/}
.mem_list li.mem_bx .mtp,
.mem_list li.mem_bx .mbt{overflow:hidden; padding:1em; overflow:hidden;}
.mem_list li.mem_bx .mtp {display:Table;}
.mem_list li.mem_bx .mtp > div{display:table-cell; vertical-align:middle;}
.mem_list li.mem_bx .mtp .img{width:25%; }
.mem_list li.mem_bx .mtp .img img{width:100%}
.mem_list li.mem_bx .mtp .txt{width:75%;  padding-left:20px; color:#86521f;  font-weight:bold; }
.mem_list li.mem_bx .mbt{background:#f7eacf;}
.mem_list li.mem_bx .mbt .t{color:#2e2e2e; font-size:1.2em; font-weight:bold; margin-bottom:5px;}
.mem_list li.mem_bx .mbt .c{overflow:hidden;}
.mem_list li.mem_bx .mbt .c .ipt_txt {width:calc(100% - 100px); font-family:'HeirofLight'; margin-right:10px; float:left; border-radius:10px; height:40px; line-height:40px; padding:0 10px; background:#cdcdcd; border:0; }
.mem_list li.mem_bx .mbt .c .ipt_btn {width:90px; /*height:40px; font-family:'HeirofLight'; float:left; font-size:1.2em; font-weight:bold; color:#254928; padding:7px 0px; border-radius: 50px; overflow:hidden; background-color:#51a14d; background-repeat:no-repeat; background-size:100% 100%; background-position: 0 0;text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; border:0;*/ }
.mem_list li.mem_bx .mbt .c .ipt_btn img{width:100%}
.mem_list li.mem_bx .mbt .s {font-size:0.85em; margin-top:10px;}
.mem_list li.mem_bx .mbt .s span {font-family:'Noto Sans KR', '돋움', '돋음', 'Dotum', 'Baekmuk Dotum', 'Undotum', 'Apple Gothic', 'Latin font', sans-serif;}

.mem_list li.mem_bx .msct {position: relative; font-weight:bold;}
.mem_list li.mem_bx .msct li{overflow:hidden;padding: 1em 90px 1em 1em;margin-bottom:10px;}
.mem_list li.mem_bx .msct li * {height:35px;  float:left;}
.mem_list li.mem_bx .msct li .t{width:50px; display:inline-block; line-height:35px; font-weight:bold; }
.mem_list li.mem_bx .msct li .c{width:80px; margin:0 10px; line-height:35px; }
.mem_list li.mem_bx .msct li .ipt_num{width:calc(100% - 40px); padding-left:0.5em; text-align:center; background:#cdcdcd; border:0; border-radius:10px;}
.mem_list li.mem_bx .msct li .ipt_arw {width:20px; line-height:normal; margin-left:5px;}
.mem_list li.mem_bx .msct li .ipt_arw img{width:100%; height:auto;}
.mem_list li.mem_bx .msct li .ipt_arw div{width:15px; height:15px;}
.mem_list li.mem_bx .msct li .ipt_arw div:first-child{margin-bottom:3px;}
.mem_list li.mem_bx .msct li .ipt_arw button{width:100%; height:100%;}
.mem_list li.mem_bx .msct li .ipt_reset{width:60px; /*  font-family:'HeirofLight'; color:#254928; padding:7px 0px; border-radius: 50px; overflow:hidden; background-color:#51a14d; background-repeat:no-repeat; background-size:100% 100%; background-position: 0 0;text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; border:0; */}
.mem_list li.mem_bx .msct li .ipt_reset img{width:100%;height:auto; }
.mem_list li.mem_bx .msct .org {background-color:#f7eacf}
.mem_list li.mem_bx .msct .sky {background-color:#dcfafa;}
.mem_list .ipt_submit{position:absolute; right:15px; top:50%; margin-top:-26px; height:52px; width:80px; /*height:40px;  top:50%; margin-top:-25px; font-size:1.05em; font-family:'HeirofLight'; color:#254928; padding:7px 0px; border-radius: 50px; overflow:hidden; background-color:#2558f0; background-repeat:no-repeat; background-size:100% 100%; background-position: 0 0;text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; border:0;*/}
.mem_list .ipt_submit img {width:100%;height:auto; }

@media all and (max-width:400px) {
    .mem_list li.mem_bx .msct li{padding:1em 1em 1em 1em ; }
    .mem_list .ipt_submit{position:static; margin:0.5em auto; display:block;}
}


/* 링크 */
.link_wrap{overflow:hidden;}
.link_wrap.w2{text-align:center;}
.link_wrap.w2 .link{width:47%; margin:0; margin-left:2%;}
.link_wrap.w2 .link:first-child{margin-left:0}
.link_st_01{text-align:Center; margin-right:auto; margin-left:auto; display: inline-block; background:#6593e8; color:#fff; font-weight:500; padding:0.7em 0; border-radius: 50px; width:100%; max-width:155px; margin-left:3px; margin-right:3px;}
.link_st_02{text-align:Center; margin-right:auto; margin-left:auto; display: inline-block; background:#c1c1c1; color:#fff; font-weight:500; padding:0.7em 0; border-radius: 50px; width:100%; max-width:155px; margin-left:3px; margin-right:3px;}
.link_st_03{text-align:Center; margin-right:auto; margin-left:auto; display: inline-block; background:#6593e8; color:#fff; font-weight:500; padding:1em 0; width:100%; font-size:1.2em; font-weight:bold}



/* 표 */
.tb_st_01{width:100%;font-size:0.9em;}
.tb_st_01 thead {border-bottom:#ddd 2px solid; color:#232323;}
.tb_st_01 thead th {padding:5px; border:#efefef 1px solid; border-top:0; font-weight:500;}
.tb_st_01 tbody th{padding: 5px ;background:#fff;border:#efefef 1px solid; color:#333; text-align:Center; font-weight:500;}
.tb_st_01 tbody td {padding:5px ;background:#fff;border:#efefef 1px solid;color:#444;text-align:left;  word-break:keep-all;}
.tb_st_01 tr *:first-child{border-left:0;}
.tb_st_01 tr *:last-child{border-right:0;}



/* 페이징 */
.pg_wrap{margin:2em auto; text-align:Center;}
.pg_wrap a{display:inline-block; margin:0 2px; padding:2px; color:#666;}
.pg_wrap a.on{color:#6593e8; font-weight:bold}

/* 탭 */
.tab_wrap{overflow:hidden;}
.tab_wrap a{display:block; float:left; height:40px; line-height:40px; text-align:Center; color:#525252; border-bottom:1px solid #e0e0e0}
.tab_wrap.w2 a{width:50%;}
.tab_wrap.pg1 a.p1,
.tab_wrap.pg2 a.p2 {font-weight:500; color:#6593e8; border-bottom:2px solid #6593e8}


.border-tp{margin:3em auto;  border-top:10px solid #f1f1f1;}

.frm_input{display:block; width:80%; max-width:240px; border:0; border-bottom:2px solid #6593e8; margin:2em auto; text-align:center; height:40px; line-height:40px; font-size:1.2em; font-weight:600;}

.icon-arrow-right.arr{display:inline-block; color:#FFF; width:1.6em; height:1.6em; border-radius:100%; background:#6593e8; line-height:1.6em; text-align:center;}