@charset "utf-8";

/* 공통 */
*{box-sizing: border-box;}
ul{ font-size: 0px;letter-spacing: -4px; }
ul li{ font-size: 1rem; letter-spacing: -0.05em; }
img{ width: 100%; max-width: 100%; }


/*디바이스에 따른 글자 크기*/
html{font-size:20px;min-width: 320px; width: 100%;margin: 0 auto; overflow-x: hidden; }
@media (min-width:640px){html{font-size:20px;}}
@media (min-width:550px) and (max-width:639px){html{font-size:20px;}}
@media (min-width:441px) and (max-width:549px){html{font-size:18px;}}
@media (min-width:361px) and (max-width:440px){html{font-size:15px;}}
@media (min-width:321px) and (max-width:360px){html{font-size:14px;}}
@media (min-width:0px) and (max-width:320px){html{font-size:13px;}}


body{ background: url('../images/bg.jpg')repeat ; background-size: cover; 
    position: relative; 
    height: 100%;
  width: 100%;
}
  

.container .wrap{ /*margin-top: 5rem;*/ width: 640px; padding: 0 1.58rem; margin: 0 auto; position: relative; }

@media (max-width: 640px) {
    .container .wrap{ width: 100%; }
}
/*
@media (max-width: 540px) {
    .container .wrap{ padding: 0 10px; } 
}
*/

.login{ width: 640px; margin: 0 auto; position: absolute; top: 0; left: 50%; transform: translateX(-50%); color: #fff; min-height: 100vh; z-index: 10000; }


.login h1{ width: 17.5rem; margin:  0 auto 1.3rem; }

@media (max-width: 640px) {
    .login{ width: 100%; }
}
.login{ padding: 6.25rem 0; }
.symbol{ width: 9.375rem; margin: 0 auto 1.3rem; }
.login .wrap{ width: 15rem; margin: 0 auto; position: relative; }
.box{ margin-bottom: 1rem; }
.box h2{ height: 17px; margin-bottom: 12px; color: #fff;}
.box input{ height: 3.125rem; width: 100%; border:none; background-color: rgba(0,0,0,0.6) ; text-align: center; color: #fff; font-size: 1rem; border-bottom: 2px solid #fff; }
.box input::placeholder{ color: #fff; text-transform: uppercase; font-size: 1rem; letter-spacing: 0.2rem; }
.pswd{ margin-bottom: 0;}
.login button{ width: 100%; height: 3.125rem; margin: 4.33rem 0 2.25rem; background-color: #fff; outline: none; color: #fff; text-transform: uppercase; font-size: 1rem; letter-spacing: 0.2rem; color: #07243e; font-weight: 700; }
.login .signUp{ width: 100%; height: 3.125rem; line-height: 3.125rem; margin: 32px 0 0; background: rgba(0,0,0,0.6); position: relative; text-align: center; border: 2px solid #fff; }
.login .or{ position: relative; text-align: center; }
.login .or:before{ content: ''; display: block; width: 6.67rem; height: 2px; background-color: #d5dddb; position: absolute; top: 50%; left: -1.17rem; transform: translateY(-50%); }
.login .or:after{ content: ''; display: block; width: 6.67rem; height: 2px; background-color: #d5dddb; position: absolute; top: 50%; right: -1.17rem; transform: translateY(-50%); }
.login .or span{ display: inline-block; text-transform: uppercase; font-size: 1rem; letter-spacing: 0.2rem; background-color: transparent; }
.login .signUp a{ display: block; width: 100%; height: 3.125rem;  text-transform: uppercase; font-size: 1rem; letter-spacing: 0.2rem; }

@media (max-width: 16rem) {
    .login .wrap{ width: 100%;  padding: 0 1rem; }
}

/* MAIN */
.header{ /*position: fixed; top: 0px; left: 50%; z-index: 100; width: 100%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); */height: 3.25rem; line-height: 3.25rem; }
.header_top{ position: relative; height: 5rem; line-height: 5rem;  }
.header_top img{ vertical-align: middle; }
.logo{ width:12rem; margin: 0 auto; }
.menuBtn{ width: 1rem; position: absolute; top: 0; left: 1.58rem; }
.main .wrap{ margin-top: 2rem; }
.main{  position: relative; padding-bottom: 2rem }
.main_opacity{  background-color: rgba(0,0,0,0.6); }
.area { margin-top: 0.5rem; position: relative; padding-bottom: 2rem; font-weight: 300; letter-spacing: 0.315rem; border-radius: 0.75rem; font-size: 1rem; }
.area:after{ content: ''; display: block; width: 100%; height: 3px; background: url('../images/line.png')no-repeat ; background-size: contain; position: absolute; bottom: 0; left: 0; }
.area h3{ font-size: 1rem; text-shadow: 0px 7px 10px #151c25; font-weight: 300; line-height: 2.38;
  letter-spacing: 0.315rem; text-align: center; text-transform: uppercase;  color: #fff; margin-bottom: 1.6rem; position: relative; }
.area h3:before{ content: ''; display: block; width: 7rem; height: 3px; background: url('../images/titlebar_left.png')no-repeat ; background-size: contain; position: absolute; top: 50%; left: 0; }
.area h3:after{ content: ''; display: block; width: 7rem; height: 3px; background: url('../images/titlebar_right.png')no-repeat ; background-size: contain; position: absolute; top: 50%; right: 0; }
.square{ border: 1px dashed #ffe25c; background: url('../images/border.png')no-repeat right top; background-size: 1.57rem auto; }
.squareW{ border: 1px solid #fff; border-radius: 0.75rem !important; }
.squareWB{ border: 1px solid #fff; border-radius: 0.75rem !important; background:none !important; }
.area ul{ text-align: center; }
.area ul li{ display: inline-block; background-color: rgba(0,0,0,0.6) ; color: #fff; font-weight: 300; letter-spacing: 0.315rem; border-radius: 0.75rem;  border-top-right-radius: 0; }

ul.aboutYou li{ width: calc((100% - 1.25rem) / 2); height: 2.75rem; line-height: calc(2.75rem - 4px); }
ul.aboutYou li.hero{ margin-right: 1.25rem; }
ul.aboutYou li.hero span{  width: 100%; display: inline-block; background: url('../images/hero.png') no-repeat 0.33rem center; background-size: 2.17rem auto; padding-left: 3.54rem;  }
ul.aboutYou li.spoint{ width: 100%; margin-top: 0.75rem; text-align: center; }
.spointTitle{ color: #ffe25c; text-transform: uppercase; }
ul.aboutYou li.stone{ text-align: center; }
.stone span{display: inline-block; padding-left: 2.5rem; background: url('../images/stone.png')no-repeat left center; background-size: 1.46rem auto; }

.total{ text-align: center; margin-top: 1rem; }

ul.space{ text-align: center; padding-top: 1.67rem; }
ul.space li{ width: 33.333%; height: 6.17rem; line-height: 6.17rem; background: none; border: none;  background-size: auto 6.17rem!important; font-weight: 700; }
ul.space li.space01{ background: url('../images/space01.png')no-repeat top center; }
ul.space li.space02{ background: url('../images/space02.png')no-repeat top center; }
ul.space li.space03{ background: url('../images/space03.png')no-repeat top center; }
ul.space li.space04{ background: url('../images/space04.png')no-repeat top center; }
ul.space li.space05{ background: url('../images/space05.png')no-repeat top center; }

ul.buy li{ width: 4.54rem; height: 4.54rem; vertical-align: top; margin: 0 0.375rem; padding-top: 0.6rem; }
ul.buy li span{ display: block; text-align: center; }
ul.buy li .f_yellow{ color: #ffe25c; margin-bottom: 0.3rem; }
ul.buy li .condition{ font-size: 0.83rem; letter-spacing: 0.06rem; }

ul.buy li .price{ letter-spacing: 0; }
.f_pink{ color: #feafa6; }
.confirm{ color: #68ebff; }

.sell{ margin-bottom: 0.75rem; }
.auto{ width: 15.7rem; margin: 1.375rem auto 0; }
.sellList ul li{ width: 6rem; height: 6rem; padding-top: 1.4rem; }

.area h4{ position: relative; line-height: 3rem; height: 3rem; }
.area h4:after{ content: ''; display: block; width: 100%; height: 3px; background: url('../images/line.png')no-repeat ; background-size: contain; position: absolute; bottom: 0; left: 0; }
ul.stoneList{ padding: 0 1rem; }
ul.stoneList > li{ padding: 0 0 0.4rem  1.4rem; margin-bottom: 1.17rem;}
ul.stoneList > li .clearfix{ padding-top: 1rem; }
ul.stoneList > li:first-child h4{ color: #feafa6; }
ul.stoneList > li:nth-child(2) h4{ color: #b1c6fe; }
ul.stoneList > li:nth-child(3) h4{ color: #b1ec90; }
ul.stoneList > li:nth-child(4) h4{ color: #ffc9ff; }
.stoneImg{ width: 44%; overflow: hidden;  }
.stoneDesc { width: 56%; padding-left: 1.5rem; }
.stoneDesc ul li{ width: 100%; background: none; font-size: 0.86rem; text-align: left; line-height: 1.4;
  letter-spacing: 0.26rem;   text-shadow: 0px 7px 10px #151c25; }
ul.stoneList > li:last-child{ margin-bottom: 0; }
.stoneDesc .stone{ width: calc(100% - 1.2rem); height: 3rem; line-height: 3rem; border: 2px solid #ccc; color: #ffe25c; text-shadow: 0px 7px 10px #151c25; margin-top: 0.5rem; border-radius: 0.5rem; background-color: rgba(255,255,255,0.3); }
/*
@media (max-width: 580px) {
    .area ul li{ letter-spacing: 1px; } 
    ul.aboutYou li.hero{ margin-right: 1rem; padding-left: 1.3rem; }
    ul.buy li{ margin: 0 2.5px; }
    ul.stoneList{ padding: 0; }
    ul.stoneList > li{ padding: 0 0.5rem 0.7rem  0.5rem;}
    .stoneDesc .stone{ width: calc(100% - 1rem);  }
    .stoneDesc { padding-left: 1rem; }
    .stoneImg img{ height: 7rem; width: auto;  }
    ul.stoneList ul li{ letter-spacing: 5px; }
    .stoneDesc .stone{ letter-spacing: 5px;height: 2.5rem; line-height: calc(2.5rem - 4px);}
    .stone span{ background-size: 1rem auto; padding-left: 1.5rem; }
    ul.aboutYou li.hero{ background-size: 1.5rem auto; }
    .total{ letter-spacing: 2px; }
}
@media (max-width: 370px) {
    ul.stoneList ul li{ letter-spacing: 3px; }
    .stoneDesc .stone{ letter-spacing: 3px; }
    ul.buy li .f_yellow{ margin-bottom: 0rem; }
}
*/
@media (max-width: 390px) {
    .stoneImg{ width: 40%; }
    .stoneDesc { width: 60%; }
}
.shingStone h3{ margin-bottom: 1rem; }

.main .symbol{ width: 100%;  }
.area.shingStone:after{ display: none; }

.area h3:before, .area h3:after{ width: 5rem  }