@charset "utf-8";

.automaching .wrap {
  padding-top: 1rem;
}
.automaching .area01 {
  padding-bottom: 3rem;
}
.automaching .area01 ul.common li.w100 {
  color: #ffe25c !important;
  text-align: left;
  padding-left: 1.5rem;
  background: url("../images/copy.png") no-repeat calc(100% - 1.5rem) center !important;
  background-size: 1.6rem auto !important;
  cursor: pointer;
}
.automaching ul.sell {
  margin-top: 1.3rem;
}
.automaching ul.sell li {
  width: 31%calc((100% - 1.8rem) / 2);
}
.automaching ul.sell li:first-child {
  margin-left: 0;
}
.automaching ul.sell li:last-child {
  margin-right: 0;
}

.automaching .area02 .spointTitle {
  letter-spacing: 0;
}
.automaching .area02 ul.common li.w100 {
  text-align: left;
  padding-left: 1.5rem;
  position: relative;
}
.area02 .buy h5 {
  font-size: 1rem;
  text-shadow: 0px 7px 10px #151c25;
  font-weight: 300;
  line-height: 2.38;
  letter-spacing: 0.315rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
}

.sel-check {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  margin-top: -9px;
}
.sel-check input {
  display: none;
}
.sel-check label {
  display: inline-block;
  vertical-align: top;
  width: 35px;
  height: 14px;
  position: Relative;
}
.sel-check label:after {
  width: 35px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 16px;
  display: block;
  content: "";
  z-index: 3;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border: 2px solid #ccc;
}
.sel-check label:before {
  width: 12px;
  height: 12px;
  position: Absolute;
  left: 2px;
  top: 1px;
  background: #ccc;
  border-radius: 100%;
  display: block;
  content: "";
  z-index: 5;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.sel-check input:checked + label:after {
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #ffe25c;
}
.sel-check input:checked + label:before {
  left: 22px;
  background-color: #ffe25c;
}

.automaching .area03 {
  padding-bottom: 2.5rem;
 
}
.automaching .area03 ul.buy{
	overflow:visible ;
	justify-content:space-between;
}
.automaching .area03 ul.buy li {
  width:31.3%;
  padding-top: 0;
  height: auto;
  background: none;
}

.automaching .area03 ul.buy li img {
  border-radius: 0.75rem;
}
.automaching .area03 .sel-check {
  display:inline-block;
  position: relative;
  right: 0;
  bottom: -20px;
  height:30px;
}
.automaching .area03 .idInfoselect {
  color: #ffe25c;
}
.automaching .area03 .idInfo {
  font-size: 1rem;
  letter-spacing: 0;
  margin: 1.5rem 0 1rem 0;
  text-shadow: 0px 7px 10px #151c25;
  font-weight: 300;
}
.automaching .area03 .idInfo .sel-check {
  position: relative;
  right: 0;
  bottom: -8px;
  padding-left: 0.5rem;
}

.automaching .area04 {
  margin-bottom: 3rem;
}

.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  overflow-y: auto;
}
.modal .modal_bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.modal .modal-content {
  position: relative;
  background-color: #000;
  margin: 0 auto;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 580px;
  height: auto;
  padding: 3.6rem 2rem;
  overflow-y: auto;
}
.modal .closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 2.6rem;
}

.modalTitleBox {
  font-size: 1rem;
  letter-spacing: 0.18rem;
  text-align: center;
  background: url("../images/line.png") no-repeat center bottom;
  background-size: 100% auto;
}
.modalTitle {
  text-transform: uppercase;
  text-align: center;
}
#notice .modalTitle {
  padding-bottom: 1.94rem;
}
#notice .modalTitleBox {
  padding-bottom: 2.8rem;
}
.send {
  padding: 2.4rem 0;
  background: url("../images/line.png") no-repeat center bottom;
  background-size: 100% auto;
}
.send div {
  margin-bottom: 1rem;
}
.send label {
  width: 32%;
  display: inline-block;
  height: 2.95rem;
  line-height: 2.95rem;
  letter-spacing: 0.2rem;
  font-size: 1rem;
}
.send input {
  width: 68%;
  display: inline-block;
  height: 2.95rem;
  line-height: 2.95rem;
  border: solid 1px #fffbfb;
  background-color: transparent;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  text-align: right;
  padding-right: 1.3rem;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Noto Sans KR", sans-serif;
}
.send input::placeholder {
  font-size: 0.83rem;
  color: rgba(255, 255, 255, 0.5);
}
.send .sendID input {
  color: #ffe25c;
}
.send .sendGold label {
  letter-spacing: 0;
}

.record {
  padding: 2rem 0;
  text-align: center;
}
.record li {
  color: #ffe25c;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.do {
  text-align: center;
  background: url("../images/btn.png") no-repeat;
  background-size: 100% 100%;
  width: 15rem;
  height: 2.7rem;
  margin: 0 auto;
  line-height: 2.7rem;
  text-shadow: 0px 3px 8px #151c25;
  letter-spacing: 0.2rem;
}

@media (max-width: 600px) {
  .modal {
    padding: 0 10px;
  }
  .modal .modal-content {
    width: 100%;
  }
}

.store .wrap {
 
}
.store .w100 {
  text-align: center;
  font-size: 0;
}
.store .w100 span {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  letter-spacing: 0.18rem;
  color: #ffe25c;
}
.store .w100Title {
  width: 1.2rem;
  margin-right: 0.5rem;
}
.store .w100Title img {
  vertical-align: middle;
}
.store .area h3 {
  margin-bottom: 1.3rem;
}

.store .area h4 {
  text-align: left;
  height: 2rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: #fff !important;
}
.store .area h4:after {
  background: none;
}

.store .wrap .area > ul > li {
  min-height: 12rem;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.store .stoneList ul li {
  font-size: 0.9rem;
  text-align: left;
  margin-bottom: 0.5rem;
}
.store .stoneList {
  padding: 0;
}

.goldInfo span {
  display: inline-block;
  padding: 0 0.5rem;
  line-height: 1.2rem;
  letter-spacing: 0;
  font-weight: 300;
  border-radius: 0.2rem;
  margin-right: 0.475rem;
}
.howlong {
  background-color: #ffe25c;
  color: #000;
}
.percent {
  background-color: #ea4824;
  color: #fff;
}
.storeGold span {
  display: inline-block;
  padding-right: 1.5rem;
  background: url("../images/flower.png") no-repeat right center;
  background-size: 1.25rem auto;
  font-weight: 700;
  color: #ffe25c;
  letter-spacing: 0.84px;
}
.store .area li.storeBuy {
  width: 4.5rem;
  float: left;
  padding: 1px;
  height: 2rem;
  line-height: 2rem;
  border-radius: 0;
  position: relative;
  left: 0;
  background: url("../images/btnBg.png") no-repeat;
  background-size: 100% 100%;
}
.storeBuy > span {
  display: inline-block;
  width: 100%;
  color: #000;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}
.lottery .stoneImg {
  padding: 0 1.5rem;
}
.store .stoneList li .stoneImg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.store .area .stoneDesc {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@media (max-width: 400px) {
  .store .wrap .area > ul > li {
    min-height: 9.5rem;
  }
}

/* 보유아이템 */
.holdItem .wrap {
  padding: 0 1.5rem;
}
.store .wrap .area:after {
  display: none;
}
.holdItem .area .holdVol {
  color: #ffe25c;
}

@media (max-width: 390px) {
  .holdItem .stoneImg {
    width: 36%;
  }
  .holdItem .stoneDesc {
    width: 64%;
  }
  .lottery .stoneImg {
    padding: 0 1rem;
  }
}

/* 스톤상세페이지 */
.buyBtn {
  display: inline-block;
  width: 3.1rem;
  height: 1.67rem;
  line-height: 1.67rem;
  background: linear-gradient(to right, #ffd71c, #ffa800);
  font-size: 0.9rem;
  text-align: center;
  color: #000;
  letter-spacing: 0;
  border-radius: 3px;
  margin-left: 0.3rem;
}
.stoneDetail .area01 .stone {
  position: relative;
  text-align: center;
  padding-left: 0rem;
}
.stoneDetail .area01 .stone .buyBtn {
  position: absolute;
  top: 50%;
  right: 0.3rem;
  transform: translateY(-50%);
}
.stoneDetail .stone img {
  width: 1.5rem;
  vertical-align: middle;
  display: inline-block;
}
.stoneDetail .stone .stoneBuystone {
  display: inline-block;
  width: calc(100% - 5rem);
  text-align: center;
}
.stoneDetail h3 {
  margin-bottom: 1.5rem;
}
.stoneDetail .wrap .area02 {
  margin: 0;
  padding: 0;
  padding: 2rem 0;
}
.stoneDetail .wrap .area03 {
  margin: 2rem 0;
  padding: 0;
}
.stoneDetail .wrap .area03:last-child:after {
  display: none;
}
.stoneDetail .wrap .area03 ul.common .w100 {
  text-align: left;
  padding-left: 1.5rem;
  letter-spacing: 0;
  margin-top: 0;
}
.stoneDetail .wrap .area03 ul.common .f_right {
  margin-right: 0.3rem;
}
.buyBtngroup {
  display: inline-block !important;
  padding-right: 0.3rem;
}
.stoneTxt {
  font-size: 1rem;
  letter-spacing: 0.09rem;
  text-align: center;
  margin-top: 2.66rem;
}

/* 수수료 */
.fee .wrap .area03 {
  padding: 1.6rem 1.3rem;
}
.feeImg {
  width: 3.8rem;
  margin: 0 auto;
}
.orderTxt {
  font-size: 1rem;
  letter-spacing: 0.18rem;
  margin-top: 1.4rem;
  text-align: center;
  color: #b1c6fe;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  background: url("../images/line.png") no-repeat bottom center;
  background-size: contain;
}
.fee .wrap .area03 ul {
  text-align: left;
}
.fee .wrap .area03 ul li {
  display: block;
  font-size: 0.83rem;
  letter-spacing: 0.15rem;
  text-align: left;
  background: none;
}
.fee .wrap .area03 ul li span {
  display: inline-block;
  background: url("../images/orderCopy.png") no-repeat right center;
  padding-right: 1.5rem;
  background-size: 1.14rem auto;
}

.orderCopy {
  font-size: 1rem;
  letter-spacing: 0.18rem;
  color: #ffe25c;
  text-align: center;
  border: 1px solid #ffe25c;
  width: 90%;
  display: block;
  margin: 1.5rem auto 0.5rem;
  border-radius: 0.23rem;
  font-weight: 300;
  background: none;
  border-radius: 3px;
  line-height: 39px;
}
.orderCopy::placeholder {
  font-size: 1rem;
  font-family: "Noto Sans KR", sans-serif;
  color: #ffe25c;
}
.orderCopyNum {
  font-size: 0.83rem;
  letter-spacing: 0.03rem;
  text-align: center;
  font-weight: 300;

}
.fee .storeBuy {
  text-align: center;
    margin-top: 1.5rem;
}
.fee .storeBuy span,.fee .storeBuy button {
  display: inline-block;
  width: 6.7rem;
  line-height: 2.6rem;
  height: 2.6rem;
  background-color: transparent;
  text-align: center;
  background: url("../images/btnBg.png") no-repeat;
  background-size: 100% 100%;
  font-size: 1rem;
  letter-spacing: 0.18rem;
  vertical-align:middle;
}

.fee .storeBuy > span > span {
  display: block;
  margin: 0 0.2rem;
}

/* id 상세페이지 */
.idDetail .area01 .hero {
}
.idDetail .area01 .hero span {
  /*background-size: 1rem auto !important;*/
  padding-left: 0;
  text-align: center;
}
.idDetail .area02 ul.buy li {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}
.idDetail .area02 ul.buy li span {
  text-align: left;
  padding-left: 1rem;
}
.idDetail .area02 ul.buy li span.setting {
  width: 1.7rem;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  padding-left: 0;
}

.idDetail .area03 ul.buy li {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}
.idDetail .area03 ul.buy li:not(.list01) {
  height: auto;
  padding-top: 0;
}
.idDetail .area03 ul.buy li.list01 {
  line-height: 4.54rem;
  padding-top: 0;
}
.accountAdd {
  display: block;
  width: 6.2rem;
  height: 2.6rem;
  line-height: 2.6rem;
  background: url("../images/btnBg.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: #000 !important;
  letter-spacing: 0.18rem;
}

.account-check input[type="checkbox"] {
  display: none;
}
.account-check input[type="checkbox"] + label {
  position: relative;
  line-height: 1rem;
  height: 1rem;
  padding-left: 1.3rem;
}
.account-check input[type="checkbox"] + label:before {
  content: "";
  display: block;
  color: #fff;
  width: 1.38rem;
  height: 0.9rem;
  background: url("../images/check-off.png") no-repeat 0.2rem bottom;
  position: absolute;
  bottom: 3px;
  left: 0;
  background-size: 0.9rem auto;
}
.account-check input[type="checkbox"]:checked + label:before {
  display: none;
}
.account-check input[type="checkbox"]:checked + label:after {
  content: "";
  display: block;
  width: 1.38rem;
  height: 1.3rem;
  background: url("../images/check-on.png") no-repeat left center;
  background-size: 1.38rem auto;
  position: absolute;
  bottom: 3px;
  left: 0;
  z-index: 1030;
}

.idDetail .buyBtngroup {
  width: 50%;
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  text-align: right;
  padding-top: 0.4rem;
  text-align: right !important;
  padding: 0;
}
.idDetail .buyBtn {
  display: inline-block;
  padding-left: 0 !important;
  text-align: center !important;
}
.stoneBox {
  background: url("../images/line.png") no-repeat top center;
  background-size: contain;
  width: 100%;
}
.accountBox {
  position: relative;
  padding: 0.6rem 0;
}
.idDetailCopy, .idDetailActive {
  width: 3.1rem;
  height: 1.67rem;
  line-height: 1.67rem;
  color: #ffe25c;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  letter-spacing: 0;
  border-radius: 3px;
  border: 1px solid #ffe25c;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
.stoneBox {
  text-align: left;
}
.stoneBox .stone {
  padding: 0.6rem 0;
  padding-left: 1rem;
}
.stoneBox .stone span {
  background: url("../images/flower.png") no-repeat left center;
  background-size: auto 100%;
  display: inline-block;
  padding-left: 1.8rem !important;
}
.idDetail .area03:after {
  display: none;
}
.idDetail .area04:after {
  display: none;
}
.idDetail .area04 ul li {
  background: url("../images/line.png") no-repeat bottom center;
  background-size: contain;
  width: 100%;
  padding: 1rem;
}
.idDetail .area04 ul li:last-child {
  background: none;
}
.idDetail .area04 ul li span {
  display: block;
  text-align: center;
}
.idDetail .area04 ul li span.f_yellow {
  background: url("../images/check.png") no-repeat right top;
  background-size: 1.7rem auto;
}
.idDetail .area04 ul li span.f_yellowDesc {
  /*font-size: 0.83rem;*/
}
.idDetail .area04 .storeBuy ,.idDetail .area04 .storeAddr ,.idDetail .area04 .updatePass {
  background: url("../images/btnBg.png") no-repeat;
  background-size: 100% 100%;
  width: 8.6rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
}
.idDetail .area04 .storeBuy a,.idDetail .area04 .storeAddr a ,.idDetail .area04 .updatePass a {
  display: block;
  color: #000;
  text-align: center;
}


.idDetail .wrap > .area:last-child:after {
  display: none;
}

.genealogy .area:after {
  display: none;
}
.gene {
  width: 100%;
  position: fixed;
  bottom: 20px;
  left: 0;
  z-index:1005;
}
.gene ul {
  text-align: center;
  padding: 0 35%;
}
.gene ul li {
  width: 50%;
  display: inline-block;
  padding: 10px;
}
.gene ul li img {
  width: 100%;
}
.popup.on {
  display: block;
}
.popup {
  display: none;
  position: fixed;
  z-index: 1030;
  left: 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  top: 50%;
  margin-top: -50%;
  background: #000;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ffe25c;
}
.popup b {
  display: block;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  font-weight: 400;
}
.popup h5 {
  font-size: 1rem;
  color: #ffe25c;
  text-align: center;
  margin: 20px 0;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  font-weight: 400;
}
.popup h4 {
  text-align: center;
  color: #fff;
  position: relative;
  padding-bottom: 40px;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  font-weight: 400;
}
.popup h4:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: url(../images/line.png) no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px 0;
}

.popup ul {
}
.popup ul li {
  font-size: 1.3rem;
  letter-spacing: 0.15rem;
  margin: 3px 0;
  text-align: center;
}
.popup ul li p {
}
.popup ul li input {
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
}
.popup ul li p span {
}

.btns {
  margin-top: 30px;
  width:100%;
}
.btns ul {
  text-align: center;
  width:100%;
}
.btns ul li {
  display: inline-block;
  padding: 10px;
}
.btns ul li button {
  display: inline-block;
  width: 6.7rem;
  line-height: 2.6rem;
  height: 2.6rem;
  background-color: transparent;
  text-align: center;
  background: url(../images/btnBg.png) no-repeat;
  background-size: 100% 100%;
  font-size: 1rem;
  letter-spacing: 0.18rem;
}

.bank {
  width: 300px;
  text-align: center;
}

.fee .wrap .area03 .storeBuy ul {
  text-align: center;
  font-size: 0;
}
.fee .wrap .area03 .storeBuy ul li {
  width: 25%;
  padding: 3px;
  display: inline-block;

  letter-spacing: 0.15rem;
  text-align: center;
}
.fee .wrap .area03 .storeBuy ul li button {
  width: 100%;
  line-height: 2.6rem;
  height: 2.6rem;
  background-color: transparent;
  text-align: center;
  background: url(../images/btnBg.png) no-repeat;
  background-size: 100% 100%;
  font-size: 0.83rem;
  letter-spacing: 0.18rem;
}
.space.hide.on {
  display: block;
}
.space.hide {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 25px;
  padding: 15px 0;
  background: #000;
  border: 1px solid #ffd71c;
  border-radius: 10px;
}

.middleArea {
  padding: 0 20px;
}
.middleArea span {
  display: inline-block;
  color: #ffd71c;
  margin-bottom: 10px;
}
.middleArea p {
  font-size: 0.6rem;
  text-align: left;
  color: #fff;
}
.middleArea p span {
  color: #fff;
  margin-bottom: 0;
  display: inline-block;
}

.stoneList .squareWB {
  padding: 20px;
}
.stoneList .stoneImg {
  width: 30%;
}


/* 스톤상세 */

.stoneDetail ul.stoneList{ padding: 0 0; color:#ffffff;	}
.stoneDetail ul.stoneList > li{ padding: 0 0 0.4rem  0.4rem; margin-bottom: 1.17rem; border:1px solid #D5A01E; /*#595348;*/overflow:hidden;}
.stoneDetail ul.stoneList > li .clearfix{ padding: 1rem 0; }
.stoneDetail ul.stoneList > li:first-child h4{ color: #feafa6; }
.stoneDetail ul.stoneList > li:nth-child(2) h4{ color: #b1c6fe; }
.stoneDetail ul.stoneList > li:nth-child(3) h4{ color: #b1ec90; }
.stoneDetail ul.stoneList > li:nth-child(4) h4{ color: #ffc9ff; }
.stoneDetail ul.stoneList .stoneImg{ width: 40%; overflow: hidden;  }
.stoneDetail ul.stoneList .stoneDesc { width: 60%; padding-left: 1.5rem; }
.stoneDetail ul.stoneList .stoneDesc ul li{ width: 100%; background: none; font-size: 1rem; text-align: left; line-height: 1.4;
  letter-spacing: 0.26rem;   text-shadow: 0px 7px 10px #151c25; }
.stoneDetail ul.stoneList > li:last-child{ margin-bottom: 0; }
.stoneDetail ul.stoneList .stoneDesc .stone{ width: calc(100% - 1.2rem); height: 3rem; line-height: 3rem; border: 2px solid #ccc; color: #ffe25c; text-shadow: 0px 7px 10px #151c25; margin-top: 0.5rem; border-radius: 0.5rem; background-color: rgba(255,255,255,0.3); }


@media (max-width: 390px) {
   .stoneDetail ul.stoneList .stoneImg{ width: 35%; }
   .stoneDetail ul.stoneList .stoneDesc { width: 65%; }
}
