@charset "utf-8";
@charset "utf-8";
/***********************************************************************************
					css 버튼 뱃지 라벨
*************************************************************************************/

/****************** 버튼 ******************/

.lsbtn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent  !important;
  border-radius: 2px !important;
   -moz-border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
}
.lsbtns {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent  !important;
}

.lsbtn:focus,
.lsbtn:active:focus,
.lsbtn:active:focus,
.lsbtn:focus,
.lsbtn:active:focus,
.lsbtn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.lsbtn:hover,
.lsbtn:focus,
.lsbtn:focus {
  color: #333;
  text-decoration: none;
}
.lsbtn:active,
.lsbtn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.lsbtn.disabled,
.lsbtn[disabled],
fieldset[disabled] .lsbtn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
a.lsbtn.disabled,
fieldset[disabled] a.lsbtn {
  pointer-events: none;
}

.lsbtn span{vertical-align:middle;}


/* 뱃지 */
.lsbadge {
  display: inline-block;
  padding: 2px 5px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em
}

/* 라벨 */
.lslabel {
  display: inline-block;
  padding: 5% 5%;
  margin-bottom: 0;
  font-size: 0.875em;
  font-weight: normal;
  line-height: 1.1em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0.2em	;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em
}


/* 크기 */
.lsbtn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.lsbtn-md {
  padding: 8px 13px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
}

.lsbtn-sm {
  padding: 4px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.lsbtn-ss {
  padding: 2px 7px;
  font-size: 12px;
  line-height: 1.5em;
  border-radius: 3px;
}
.lsbtn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5em;
  border-radius: 2px;
}
.lsbtn-xx {
  padding: 1px 5px;
  font-size: 11px;
  line-height: 1.3em;
  border-radius: 2px;
}
.lsbtn-xxx {
  padding: 1px 5px;
  font-size: 10px;
  line-height: 1.1em;
  border-radius: 2px;
}

/* 크기 */
.lsbtns-lg, a.lsbtns-lg {
  padding: 15px 22px;
  font-size: 14px;
  line-height:50px;
  line-height: 1.3333333;
  height:50px;
}
.lsbtns-md ,a.lsbtns-md {
  padding: 8px 13px;
  font-size: 13px;
  line-height: 20px;
  height:40px;
}

.lsbtns-sm {	
  padding: 4px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.lsbtns-ss {
  padding: 2px 7px;
  font-size: 12px;
  line-height: 1.5em;
}
.lsbtns-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5em;
}
.lsbtns-xx {
  padding: 1px 5px;
  font-size: 11px;
  line-height: 1.3em;
}
.lsbtns-xxx {
  padding: 1px 5px;
  font-size: 10px;
  line-height: 1.1em;
}

/* 폰트사이즈 */
.obje-f14 {
	font-size:14px;	
}
.obje-f13 {
	font-size:12px;	
}
.obje-f12 {
	font-size:12px;	
}


/* 색상 */
.obje-white,a.obje-white {
  color: #333  !important;
  background-color: #fff !important;
  border-color: #ccc !important;
}
.obje-white:focus {
  color: #333 !important;
  background-color: #e6e6e6 !important;
  border-color: #8c8c8c !important;
}
.obje-white:hover {
  color: #333 !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
}
.obje-white:active {
  color: #333 !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
}


.obje-blue,a.obje-blue {
  color: #fff !important;
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
}
.obje-blue:focus {
  color: #fff !important;
  background-color: #286090 !important;
  border-color: #122b40 !important;
}
.obje-blue:hover {
  color: #fff !important;
  background-color:#286090 !important;
  border-color: #204d74 !important;
}
.obje-blue:active{
  color: #fff !important;
  background-color: #286090 !important;
  border-color: #204d74 !important;
}


.obje-bpurple,a.obje-bpurple {
  color: #fff !important;
  background-color: #5A7CA6 !important;
  border-color: #476385 !important;
}
.obje-bpurple:focus {
  color: #fff !important;
  background-color: #476385 !important;
  border-color: #364A63 !important;
}
.obje-bpurple:hover {
  color: #fff !important;
  background-color: #476385 !important;
  border-color: #364A63 !important;
}
.obje-bpurple:active{
  color: #fff !important;
 background-color: #476385 !important;
  border-color: #364A63 !important;
}



.obje-green,a.obje-green {
  color: #fff !important;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}
.obje-green:focus {
  color: #fff !important;
  background-color: #449d44 !important;
  border-color: #255625 !important;
}
.obje-green:hover {
  color: #fff !important;
  background-color: #449d44 !important;
  border-color: #398439 !important;
}
.obje-green:active {
  color: #fff !important;
  background-color: #449d44 !important;
  border-color: #398439 !important;
}


.obje-mint,a.obje-mint {
  color: #fff !important;
  background-color: #5bc0de !important;
  border-color: #46b8da !important;
}
.obje-mint:focus {
  color: #fff !important;
  background-color: #31b0d5 !important;
  border-color: #134F60 !important;
}
.obje-mint:hover {
  color: #fff !important;
  background-color: #31b0d5 !important;
  border-color: #269abc !important;
}
.obje-mint:active {
  color: #fff !important;
  background-color: #1b6d85 !important;
  border-color: #269abc !important;
}



.obje-sky ,a.obje-sky {
  color: #fff !important;
  background-color: #00a7bc !important;
  border-color: #0095A6 !important;
}
.obje-sky:focus {
  color: #fff !important;
  background-color: #008897 !important;
  border-color: #1b6d85 !important;
}
.obje-sky:hover {
  color: #fff !important;
  background-color: #008897 !important;
  border-color: #1b6d85 !important;
}
.obje-sky:active {
  color: #fff !important;
  background-color: #008897 !important;
  border-color: #1b6d85 !important;
  
}


.obje-orange ,a.obje-orange{
  color: #fff !important;
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
}
.obje-orange:focus {
  color: #fff !important;
  background-color: #ec971f !important;
  border-color: #985f0d !important;
}
.obje-orange:hover {
  color: #fff !important;
  background-color: #ec971f !important;
  border-color: #d58512 !important;
}
.obje-orange:active{
  color: #fff !important;
  background-color: #ec971f !important;
  border-color: #d58512 !important;
}


.obje-red,a.obje-red {
  color: #fff !important;
  background-color: #DD2F35 !important;
  border-color: #d43f3a !important;
}
.obje-red:focus {
  color: #fff !important;
  background-color: #DD2F35 !important;
  border-color: #761c19 !important;
}
.obje-red:hover {
  color: #fff !important;
  background-color: #ff302c !important;
  border-color: #C40005 !important;
}
.obje-red:active {
  color: #fff !important;
  background-color: #c9302c !important;
  border-color: #ac2925 !important;
}

.obje-bred,a.obje-bred {
  color: #fff !important;
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
}
.obje-bred:focus {
  color: #fff !important;
  background-color: #c9302c !important;
  border-color: #761c19 !important;
}
.obje-bred:hover {
  color: #fff !important;
  background-color: #c9302c !important;
  border-color: #ac2925 !important;
}
.obje-bred:active {
  color: #fff !important;
  background-color: #c9302c !important;
  border-color: #ac2925 !important;
}



.obje-light,a.obje-light {
  color: #141414 !important;
  background-color: #efefef !important;
  border-color: #dadada !important;
}
.obje-light.focus {
  color: #141414 !important;
  background-color: #e7e7e7 !important;
  border-color: #eaeaea !important;
}
.obje-light:hover {
  color: #141414 !important;
  background-color: #e7e7e7 !important;
  border-color: #eaeaea !important;
}
.obje-light:active {
  color: #141414 !important;
  background-color: #ededed !important;
  border-color: #dadada !important;
}

.obje-gray,a.obje-gray {
  color: #fff !important;
  background-color: #A2A2A2 !important;
  border-color: #7B7B7B !important;
}
.obje-gray.focus {
  color: #fff !important;
  background-color: #6A6A6A !important;
  border-color: #555555 !important;
}
.obje-gray:hover {
  color: #fff !important;
  background-color: #6A6A6A !important;
  border-color: #222222 !important;
}
.obje-gray:active {
  color: #fff !important;
  background-color: #494949 !important;
  border-color: #222222 !important;
}

.obje-black,a.obje-black {
  color: #fff !important;
  background-color: #111111 !important;
  border-color: #000000 !important;
}
.obje-black.focus {
  color: #fff !important;
  background-color: #252525 !important;
  border-color: #111111 !important;
}
.obje-black:hover {
  color: #fff !important;
  background-color: #252525 !important;
  border-color: #222222 !important;
}
.obje-black:active {
  color: #fff !important;
  background-color: #383838 !important;
  border-color: #222222 !important;
}


.obje-illu {
  color: #ffffff !important;
  background-color: #00ADB6 !important;
  border-color: #21e1ee !important;
}
.obje-illu:hover {
  color: #ffffff !important;
  background-color: #54f3ff !important;
  border-color: #21e1ee !important;
}
.obje-illu:active {
  color: #ffffff !important;
  background-color: #54f3ff !important;
  border-color: #21e1ee !important;
}


/* 기본 오브젝트 추가 */
.mb-05{margin-bottom:5px !important;}
.mb-10{margin-bottom:10px !important;}
.mb-15{margin-bottom:15px !important;}
.mb-20{margin-bottom:20px !important;}
.mb-30{margin-bottom:30px !important;}
.mb-40{margin-bottom:40px !important;}
.mb-50{margin-bottom:50px !important;}
.mb-60{margin-bottom:60px !important;}
.mb-70{margin-bottom:70px !important;}
.mb-80{margin-bottom:80px !important;}
.mb-90{margin-bottom:90px !important;}
.mb-100{margin-bottom:100px !important;}
.mb-110{margin-bottom:110px !important;}
.mb-120{margin-bottom:110px !important;}
.mb-130{margin-bottom:110px !important;}
.mb-140{margin-bottom:110px !important;}
.mb-150{margin-bottom:110px !important;}
.mb-160{margin-bottom:110px !important;}
.mb-170{margin-bottom:110px !important;}
.mb-180{margin-bottom:110px !important;}
.mb-190{margin-bottom:110px !important;}
.mb-195{margin-bottom:195px !important;}

.mt-05{margin-top:5px !important;}
.mt-10{margin-top:10px !important;}
.mt-15{margin-top:15px !important;}
.mt-20{margin-top:20px !important;}
.mt-30{margin-top:30px !important;}
.mt-40{margin-top:40px !important;}
.mt-50{margin-top:50px !important;}
.mt-60{margin-top:60px !important;}
.mt-70{margin-top:70px !important;}
.mt-80{margin-top:80px !important;}
.mt-90{margin-top:90px !important;}
.mt-100{margin-top:100px !important;}
.mt-110{margin-top:110px !important;}
.mt-120{margin-top:110px !important;}
.mt-130{margin-top:110px !important;}
.mt-140{margin-top:110px !important;}
.mt-150{margin-top:110px !important;}
.mt-160{margin-top:110px !important;}
.mt-170{margin-top:110px !important;}
.mt-180{margin-top:110px !important;}
.mt-190{margin-top:110px !important;}
.mt-195{margin-top:195px !important;}

.pb-05{padding-bottom:5px !important;}
.pb-10{padding-bottom:10px !important;}
.pb-15{padding-bottom:15px !important;}
.pb-20{padding-bottom:20px !important;}
.pb-30{padding-bottom:30px !important;}
.pb-40{padding-bottom:40px !important;}
.pb-50{padding-bottom:50px !important;}
.pb-60{padding-bottom:60px !important;}
.pb-70{padding-bottom:70px !important;}
.pb-80{padding-bottom:80px !important;}
.pb-90{padding-bottom:90px !important;}
.pb-100{padding-bottom:100px !important;}
.pb-110{padding-bottom:110px !important;}
.pb-120{padding-bottom:110px !important;}
.pb-130{padding-bottom:110px !important;}
.pb-140{padding-bottom:110px !important;}
.pb-150{padding-bottom:110px !important;}
.pb-160{padding-bottom:110px !important;}
.pb-170{padding-bottom:110px !important;}
.pb-180{padding-bottom:110px !important;}
.pb-190{padding-bottom:110px !important;}
.pb-195{padding-bottom:195px !important;}

.pt-05{padding-top:5px !important;}
.pt-10{padding-top:10px !important;}
.pt-15{padding-top:15px !important;}
.pt-20{padding-top:20px !important;}
.pt-30{padding-top:30px !important;}
.pt-40{padding-top:40px !important;}
.pt-50{padding-top:50px !important;}
.pt-60{padding-top:60px !important;}
.pt-70{padding-top:70px !important;}
.pt-80{padding-top:80px !important;}
.pt-90{padding-top:90px !important;}
.pt-100{padding-top:100px !important;}
.pt-110{padding-top:110px !important;}
.pt-120{padding-top:110px !important;}
.pt-130{padding-top:110px !important;}
.pt-140{padding-top:110px !important;}
.pt-150{padding-top:110px !important;}
.pt-160{padding-top:110px !important;}
.pt-170{padding-top:110px !important;}
.pt-180{padding-top:110px !important;}
.pt-190{padding-top:110px !important;}
.pt-195{padding-top:195px !important;}

.text-narrow0{letter-spacing:0rem !important;}
.text-narrow025{letter-spacing:-0.025rem !important;}
.text-narrow{letter-spacing:-0.05rem !important;}
.text-narrow1{letter-spacing:-0.1rem !important;}
.text-narrow15{letter-spacing:-0.15rem !important;}
.text-narrow2{letter-spacing:-0.2rem !important;}

.text-wide{letter-spacing:0.05rem;}
.text-wide1{letter-spacing:0.1rem;}
.text-wide12{letter-spacing:0.15rem;}
.text-wide2{letter-spacing:0.2rem;}
.text-wide25{letter-spacing:0.25rem;}
.text-wide3{letter-spacing:0.3rem;}
.text-wide35{letter-spacing:0.35rem;}

.fred{color:#F00;}
.fblue{color:#0066FF;}
.fgreen{color:#0F0;}
.fgray{color:#DDD;}
.fdgray{color:#AAA;}
.fwhite{color:#FFF;}


.fs07{font-size:.7rem !important;}
.fs0725{font-size:.725rem !important;}
.fs075{font-size:.75rem !important;}
.fs0775{font-size:.775rem !important;}
.fs08{font-size:.8rem !important;}
.fs0825{font-size:.825rem !important;}
.fs085{font-size:.85rem !important;}
.fs0875{font-size:.875rem !important;}
.fs09{font-size:.9rem !important;}
.fs0925{font-size:.925rem !important;}
.fs095{font-size:.95rem !important;}
.fs0975{font-size:.975rem !important;}
.fs1{font-size:1rem !important;}
.fs125{font-size:1.25rem !important;}
.fs15{font-size:1.5rem !important;}
.fs175{font-size:1.75rem !important;}
.fs2{font-size:2rem !important;}
.fs225{font-size:2.25rem !important;}
.fs25{font-size:2.5rem !important;}
.fs275{font-size:2.75rem !important;}

.fw1{font-weight:100;}
.fw2{font-weight:200;}
.fw3{font-weight:300;}
.fw4{font-weight:400;}
.fw5{font-weight:500;}
.fw6{font-weight:600;}
.fw7{font-weight:700;}
.fw8{font-weight:800;}
.fw9{font-weight:900;}

.f-style1{color:#434343;}
.f-style2{color:#434343;}
.f-style3{color:#676B71;}

.text-left{text-align:left!important;}
.text-right{text-align:right!important;}
.text-center{text-align:center!important;}

.w-800p{width:500px !important;}
.w-700p{width:500px !important;}
.w-600p{width:500px !important;}
.w-400p{width:400px !important;}
.w-350p{width:350px !important;}
.w-340p{width:340px !important;}
.w-300p{width:300px !important;}
.w-240p{width:240px !important;}
.w-200p{width:200px !important;}
.w-180p{width:180px !important;}
.w-170p{width:170px !important;}
.w-160p{width:160px !important;}
.w-150p{width:160px !important;}
.w-140p{width:140px !important;}
.w-120p{width:120px !important;}
.w-110p{width:110px !important;}
.w-100p{width:100px !important;}
.w-90p{width:80px !important;}
.w-80p{width:80px !important;}
.w-70p{width:70px !important;}
.w-60p{width:60px !important;}
.w-50p{width:50px !important;}
.w-40p{width:40px !important;}
.w-30p{width:30px !important;}
.w-20p{width:20px !important;}

.w-100{width:100% !important;}
.w-95{width:95% !important;}
.w-90{width:90% !important;}
.w-85{width:85% !important;}
.w-80{width:80% !important;}
.w-75{width:75% !important;}
.w-70{width:70% !important;}
.w-65{width:65% !important;}
.w-60{width:60% !important;}
.w-55{width:55% !important;}
.w-50{width:50% !important;}
.w-49{width:49% !important;}
.w-45{width:45% !important;}
.w-40{width:40% !important;}
.w-35{width:35% !important;}
.w-30{width:30% !important;}
.w-25{width:25% !important;}
.w-20{width:20% !important;}
.w-15{width:15% !important;}
.w-10{width:10% !important;}
.w-5{width:5% !important;}
.w-auto{width:auto !important;}

.w-100v{width:100vw !important;}
.w-95v{width:95vw !important;}
.w-90v{width:90vw !important;}
.w-85v{width:85vw !important;}
.w-80v{width:80vw !important;}
.w-75v{width:75vw !important;}
.w-70v{width:70vw !important;}
.w-65v{width:65vw !important;}
.w-60v{width:60vw !important;}
.w-55v{width:55vw !important;}
.w-50v{width:50vw !important;}
.w-45v{width:45vw !important;}
.w-40v{width:40vw !important;}
.w-35v{width:35vw !important;}
.w-30v{width:30vw !important;}
.w-25v{width:25vw !important;}
.w-20v{width:20vw !important;}
.w-10v{width:10vw !important;}
.w-5v{width:5vw !important;}

.h-100v{height:100vmax !important;}
.h-90v{height:90vmax !important;}
.h-80v{height:80vmax !important;}
.h-70v{height:70vmax !important;}
.h-60v{height:60vmax !important;}
.h-50v{height:50vmax !important;}
.h-40v{height:40vmax !important;}
.h-35v{height:35vmax !important;}
.h-30v{height:30vmax !important;}
.h-25v{height:25vmax !important;}
.h-20v{height:20vmax !important;}
.h-15v{height:15vmax !important;}
.h-10v{height:10vmax !important;}

.mb-05{margin-bottom:5px !important;}
.mb-10{margin-bottom:10px !important;}
.mb-15{margin-bottom:15px !important;}
.mb-20{margin-bottom:20px !important;}
.mb-30{margin-bottom:30px !important;}
.mb-40{margin-bottom:40px !important;}
.mb-50{margin-bottom:50px !important;}
.mb-60{margin-bottom:60px !important;}
.mb-70{margin-bottom:70px !important;}
.mb-80{margin-bottom:80px !important;}
.mb-90{margin-bottom:90px !important;}
.mb-100{margin-bottom:100px !important;}
.mb-110{margin-bottom:110px !important;}
.mb-120{margin-bottom:110px !important;}
.mb-130{margin-bottom:110px !important;}
.mb-140{margin-bottom:110px !important;}
.mb-150{margin-bottom:110px !important;}
.mb-160{margin-bottom:110px !important;}
.mb-170{margin-bottom:110px !important;}
.mb-180{margin-bottom:110px !important;}
.mb-190{margin-bottom:110px !important;}
.mb-195{margin-bottom:195px !important;}

.mt-05{margin-top:5px !important;}
.mt-10{margin-top:10px !important;}
.mt-15{margin-top:15px !important;}
.mt-20{margin-top:20px !important;}
.mt-30{margin-top:30px !important;}
.mt-40{margin-top:40px !important;}
.mt-50{margin-top:50px !important;}
.mt-60{margin-top:60px !important;}
.mt-70{margin-top:70px !important;}
.mt-80{margin-top:80px !important;}
.mt-90{margin-top:90px !important;}
.mt-100{margin-top:100px !important;}
.mt-110{margin-top:110px !important;}
.mt-120{margin-top:110px !important;}
.mt-130{margin-top:110px !important;}
.mt-140{margin-top:110px !important;}
.mt-150{margin-top:110px !important;}
.mt-160{margin-top:110px !important;}
.mt-170{margin-top:110px !important;}
.mt-180{margin-top:110px !important;}
.mt-190{margin-top:110px !important;}
.mt-195{margin-top:195px !important;}

.pb-05{padding-bottom:5px !important;}
.pb-10{padding-bottom:10px !important;}
.pb-15{padding-bottom:15px !important;}
.pb-20{padding-bottom:20px !important;}
.pb-30{padding-bottom:30px !important;}
.pb-40{padding-bottom:40px !important;}
.pb-50{padding-bottom:50px !important;}
.pb-60{padding-bottom:60px !important;}
.pb-70{padding-bottom:70px !important;}
.pb-80{padding-bottom:80px !important;}
.pb-90{padding-bottom:90px !important;}
.pb-100{padding-bottom:100px !important;}
.pb-110{padding-bottom:110px !important;}
.pb-120{padding-bottom:110px !important;}
.pb-130{padding-bottom:110px !important;}
.pb-140{padding-bottom:110px !important;}
.pb-150{padding-bottom:110px !important;}
.pb-160{padding-bottom:110px !important;}
.pb-170{padding-bottom:110px !important;}
.pb-180{padding-bottom:110px !important;}
.pb-190{padding-bottom:110px !important;}
.pb-195{padding-bottom:195px !important;}

.pt-05{padding-top:5px !important;}
.pt-10{padding-top:10px !important;}
.pt-15{padding-top:15px !important;}
.pt-20{padding-top:20px !important;}
.pt-30{padding-top:30px !important;}
.pt-40{padding-top:40px !important;}
.pt-50{padding-top:50px !important;}
.pt-60{padding-top:60px !important;}
.pt-70{padding-top:70px !important;}
.pt-80{padding-top:80px !important;}
.pt-90{padding-top:90px !important;}
.pt-100{padding-top:100px !important;}
.pt-110{padding-top:110px !important;}
.pt-120{padding-top:110px !important;}
.pt-130{padding-top:110px !important;}
.pt-140{padding-top:110px !important;}
.pt-150{padding-top:110px !important;}
.pt-160{padding-top:110px !important;}
.pt-170{padding-top:110px !important;}
.pt-180{padding-top:110px !important;}
.pt-190{padding-top:110px !important;}
.pt-195{padding-top:195px !important;}



.max-30{width:100%; max-width:30px;}
.max-50{width:100%; max-width:50px;}
.max-100{width:100%; max-width:100px;}
.max-200{width:100%; max-width:200px;}
.max-300{width:100%; max-width:300px;}
.max-350{width:100%; max-width:350px;}
.max-400{width:100%; max-width:400px;}
.max-450{width:100%; max-width:450px;}
.max-500{width:100%; max-width:500px;}
.max-550{width:100%; max-width:550px;}
.max-600{width:100%; max-width:600px;}

.min-500{width:100%;min-width:500px;}
.min-600{width:100%;min-width:600px;}
.min-700{width:100%;min-width:700px;}
.min-800{width:100%;min-width:800px;}
.min-900{width:100%;min-width:900px;}
.min-1000{width:100%;min-width:1000px;}
.min-1100{width:100%;min-width:1100px;}


.min-5vh{min-height:5vh;}
.min-10vh{min-height:10vh;}
.min-15vh{min-height:15vh;}
.min-20vh{min-height:20vh;}
.min-25vh{min-height:25vh;}
.min-30vh{min-height:30vh;}
.min-35vh{min-height:35vh;}
.min-40vh{min-height:40vh;}
.min-45vh{min-height:45vh;}
.min-50vh{min-height:50vh;}
.min-55vh{min-height:55vh;}
.min-60vh{min-height:60vh;}

.min-5vh{min-height:5vw;}
.min-10vw{min-height:10vw;}
.min-15vw{min-height:15vw;}
.min-20vw{min-height:20vw;}
.min-25vw{min-height:25vw;}
.min-30vw{min-height:30vw;}
.min-35vw{min-height:35vw;}
.min-40vw{min-height:40vw;}
.min-45vw{min-height:45vw;}
.min-50vw{min-height:50vw;}
.min-55vw{min-height:55vw;}
.min-60vw{min-height:60vw;}


/* 부트스트랩 수정 */
.btn-light{color:#000000 !important;}
